
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - WebApp</title>
</head>
<body>
    <header>
                <a>Currency</a>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApp
        </div>
    </footer>
</body>
</html>
